// mixin.scss
@use "unit" as *;

// position mixin
@mixin pos {
  position: absolute;
}

// Position 관련 믹스인 (다른 방법)
// @mixin pos($pos: absolute, $t: initial, $r: initial, $b: initial, $l: initial) {
//   position: $pos;
//   top: $t;
//   right: $r;
//   bottom: $b;
//   left: $l;
// }

@mixin posLeftTop($l: 0, $t: 0) {
  @include pos;
  left: $l;
  top: $t;
}

@mixin posRightTop($r: 0, $t: 0) {
  @include pos;
  right: $r;
  top: $t;
}

// position center mixin
@mixin posCenter {
  @include pos;
  top: 50%;
  laeft: 50%;
  transform: translate(-50% -50%);
}

@mixin posCenterX {
  @include pos;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  @include pos;
  top: 50%;
  transform: translateY(-50%);
}

@mixin posBottomY {
  @include pos;
  top: 100%;
  transform: translateY(-100%);
}

// section container mixin
@mixin containerMax($max-width: 1024px) {
  max-width: rem($max-width);
  margin-left: auto;
  margin-right: auto;
}

@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}

// padding mixin
@mixin padding($spacing) {
  @include paddingX($spacing);
  @include paddingY($spacing);
}

@mixin paddingX($spacing) {
  padding-left: rem($spacing);
  padding-right: rem($spacing);
}

@mixin paddingY($spacing) {
  padding-top: rem($spacing);
  padding-bottom: rem($spacing);
}

// margin mixin
@mixin margin($spacing) {
  @include marginX($spacing);
  @include marginY($spacing);
}

@mixin marginX($spacing) {
  margin-left: rem($spacing);
  margin-right: rem($spacing);
}

@mixin marginY($spacing) {
  margin-top: rem($spacing);
  margin-bottom: rem($spacing);
}

// grid mixin
@mixin gridbox(
  $column-count: 12,
  $column-width: 1ft,
  $row-gap: 0,
  $column-gap: 16px
) {
  display: grid;
  grid-template-columns: repeat($column-count, $column-width);
  grid-template-rows: auto;
  grid-column-gap: rem($column-gap);
  grid-row-gap: rem($row-gap);
}

// ratio mixin
@mixin ratio($w, $h) {
  aspect-ratio: $w / $h;
}

//* ratio를 사용하지 않는 방법
// @mixin responsIframe($w: 16, $h: 9) {
//   position: relative;
//   padding-top: math.div($h, $w) * 100%;
//   height: 0 !important;

//   iframe {
//     position: absolute;
//!    top, left 의 기본 값이 initail 이기 때문에 0을 명시함
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }


// 반응형 콘텐츠
@mixin respons($width: max-width, $height: auto) {
  #{width}: 100%;
  height: $height;
  
  // 결과 ->
  // max-width: 100%;
  // height: auto;
}
